<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" width="30px" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <form class="form-inline my-2 my-lg-0 ml-auto" action="/users/user{{email}}" name="searchForm" method="get">
                <input class="form-control mr-sm-2" type="email" name="email" placeholder="Enter user email">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-auto">
                    <a class="nav-link" href="/users">All Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">My profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<section class="jumbotron col-10 offset-1 rounded shadow mt-3 p-5">
    <div class="mb-5">
        <h2 class="m-3 text-center">All Users</h2>
    </div>
    <div class="d-flex justify-content-around flex-wrap">
        {{#each users}}
            <div class="d-flex justify-content-around m-2">
                <div class="card" style="width:290px">
                    <img class="card-img-top" src="{{this.avatar}}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">{{this.name}}</h4>
                        <p><span class="d-flex mr-2 text-muted">Name:</span> <span
                                class="d-flex text-primary font-weight-bold">{{this.name}}</span></p>
                        <p><span class="d-flex mr-2 text-muted">Username:</span> <span
                                class="d-flex text-primary font-weight-bold">{{this.userName}}</span></p>
                        <p><span class="d-flex mr-2 text-muted">Email:</span> <span
                                class="d-flex text-primary font-weight-bold">{{this.email}}</span></p>
                        <p><span class="d-flex mr-2 text-muted">Country:</span> <span
                                class="d-flex text-primary font-weight-bold">{{this.country}}</span></p>
                        <p><span class="d-flex mr-2 text-muted">City:</span> <span
                                class="d-flex text-primary font-weight-bold">{{this.city}}</span></p>
                        <p><span class="d-flex mr-2 text-muted">Address:</span> <span
                                class="d-flex text-primary font-weight-bold">{{this.streetAddress}}</span></p>
                        <h4 class="text-center">About:</h4>
                        <p>{{this.about}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</section>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>
